<div class="wrapper">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      <h2 routerLink="/signup" >Sign Up </h2>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="user"  name="user" placeholder="user" [(ngModel)]="username">
        <input type="password" id="password"  name="password" placeholder="password" [(ngModel)]="password">
        <span  *ngIf="errorFound"> {{errorMsg}} </span>
        <span  *ngIf="loginsuccess"> success </span>
        <input type="button" (click)="login()" value="Log In">
      </form>
  
    </div>
  </div>